<div class="stats">
  <strong id="following" class="stats">
    <%= link_to pluralize(@user.following.count, t("follow.following")),
      relationship_path(@user, message:"following")%>
  </strong>
  <strong id="followers" class="stats">
    <%= link_to pluralize(@user.followers.count, t("follow.followers")),
      relationship_path(@user, message:"followers")%>
  </strong>
</div>
