@import "bootstrap-sprockets";
@import "bootstrap";

$color: #90949c;
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
/*show activities*/

.list-activities {
  list-style: none;
  padding-left: 0px;
}
.list-activities li {
  color: $color;
  padding: 5px;
}
.text-center {
  text-align: center;
}

/* Users index */

.users {
  display: block;
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/*follow user*/

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  font-size: 15px !important;
  a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: black;
      &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

#follow_form {
  padding-top: 15px;
  font-size: 20px;
  width: 200px;
  color: black
}

#search{
  width: 250px;
  height: 40px !important;
}
#bt_search{
  width: 80px;
  height: 40px !important;
}
